RESEND_API_KEY=re_xxxxxxxxx
RESEND_FROM_EMAIL=EMTS <onboarding@resend.dev>
OTP_TTL_MINUTES=10
PAYMENT_OTP_TTL_MINUTES=10
REGISTRATION_OTP_TTL_MINUTES=10
PASSWORD_RESET_OTP_TTL_MINUTES=10
VERCEL_RENDER_SECRET=vercel-render-secret
SPRING_DATASOURCE_URL=<your_url>
SPRING_DATASOURCE_PASSWORD=<your-password>
SPRING_DATASOURCE_USERNAME=<your-username>
